<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Functional Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="btn-group">
          <a href="{{ url_for('home') }}" class="btn btn-outline-success btn-lg" role="button" aria-pressed="true">Home</a>
          {% if current_user.is_authenticated %} <!-- if the user is logged in -->
            <a href="{{ url_for('logout') }}" class="btn btn-outline-success btn-lg" data-toggle="modal" data-target="#exampleModal" role="button" aria-pressed="true">Log Out</a>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to log out of your account?
                  </div>
                  <div class="modal-footer text-center">
                    <a href="{{ url_for('logout') }}" class="btn btn-outline-success btn-lg" role="button" aria-pressed="true">Yes</a>
                    <a href="#" class="btn btn-outline-danger btn-lg" data-toggle="modal" role="button" aria-pressed="true">No</a>
                  </div>
                </div>
              </div>
            </div>
            <a href="{{ url_for('new_post') }}" class="btn btn-outline-success btn-lg" role="button" aria-pressed="true">New Post</a>
            <a href="{{ url_for('account') }}" class="btn btn-outline-success btn-lg" role="button" aria-pressed="true">Account</a>
            {% if current_user.is_admin %} <!-- if user is admin -->
              <a href="{{ url_for('admin') }}" class="btn btn-outline-success btn-lg" role="button" aria-pressed="true">Admin</a>
          {% endif %}
          {% else %} <!-- if the user is not logged in -->
            <a href="{{ url_for('login') }}" class="btn btn-outline-success btn-lg" role="button" aria-pressed="true">Log In</a>
            <a href="{{ url_for('register') }}" class="btn btn-outline-success btn-lg" role="button" aria-pressed="true">Register</a>
          {% endif %}
        </div>
      </form>
    </div>
  </nav>
</header>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %} <!-- If there are any messages to be flashed -->
      {% for category, message in messages %} <!-- loop through messages -->
          <div class="alert alert-{{ category }}"> <!-- set colour with what is passed (success, danger etc) -->
            {{ message }}
          </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  </head>
  {% block content %}{% endblock %}
  </html>
