{% extends "layout.html" %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <form method="POST", action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom md-4">Join Today</legend>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}

                        {% if form.username.errors %} <!-- if the data isn't valid / there are errors -->
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %} <!-- loop through the errors -->
                                    <span> {{ error }} </span> <!-- display those tings -->
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %} <!-- if the data isn't valid / there are errors -->
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %} <!-- loop through the errors -->
                                    <span> {{ error }} </span> <!-- display those tings -->
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %} <!-- if the data isn't valid / there are errors -->
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %} <!-- loop through the errors -->
                                    <span> {{ error }} </span> <!-- display those tings -->
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %} <!-- if the data isn't valid / there are errors -->
                            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %} <!-- loop through the errors -->
                                    <span> {{ error }} </span> <!-- display those tings -->
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-check"> <!-- for the remember me -->
                        {{ form.subscribe(class="form-check-input") }}
                        {{ form.subscribe.label(class="form-check-label") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-success") }}
                </div>
            </form>
            <p>Already have an account? <a class="ml-2" href="{{ url_for('login') }}"> Sign in</a></p>
        </div>
    </div>
{% endblock content %}
